
{% set driver_name = getOption('subscriptions.driver') %}
{% set driver = service('driver').create(driver_name) %}
{% set plans = createModel('SubscriptionPlans','subscriptions').paidPlansQuery().activeQuery() %}
{% set plans = plans.get() %}

<div class="ui segment">
    <div class="item">       
        <span class="font-bold">
            {{ labels.driver }}            
        </span>
        <span class="pl-2">
            {{ driver.getDriverTitle() }}
        </span>        
    </div>
</div>
<div class="ui basic segment">
    <div class="ui grid">
        <div class="five wide column">
            {{ component('components:segment-title',{ title: labels.plans, icon: 'calendar alternate outline' }) }}
            <div class="ui big divided list">
                {% for plan in plans %}
                    {{ component('subscriptions::admin.provider.item',{ plan: plan }) }}
                {% endfor %}
            </div>
        </div>
        <div class="eleven wide column" id="plan_content">
        </div>
    </div>
</div>