<div class="ui two column grid">
    <div class="column">
        <div class="ui segment">     
            <div class="ui stackable two column grid">      
                <div class="column">
                    <button 
                        mountTo="plan_details"
                        component="subscriptions::admin.plans.add"
                        title="{{ tooltip.create }}"
                        class="ui mini curcular green icon button plan-action-buttons">
                        <i class="icon plus"></i>
                    </button>
                    <button 
                        mountTo="plan_details"
                        component="subscriptions::admin.plans.features.type"
                        title="{{ tooltip.feature }}"
                        class="ui mini curcular basic icon labeled button plan-action-buttons">
                        <i class="icon list"></i>
                        {{ labels.feature }}
                    </button>
                </div>
                <div class="right aligned column">                                       
                </div>
            </div>
        </div>     
        <div class="ui segment">
            {{ component("subscriptions::admin.plans.view",{}) }}           
        </div>                 
    </div>
    <div class="column" id="plan_details">
    </div>
</div>

