<div class="ui horizontal segments">
    <div class="ui segment">           
        
    </div>
    <div class="ui segment right aligned">       
        {{ component('components:paginator.dropdown',{ namespace: 'subscriptions' }) }}
    </div>
</div>
<table class="ui compact stackable selectable borderless basic table">
    <thead class="table-head">
        <tr>              
            <th class="one wide collapsing left aligned">{{ columns.action }}</th>
            <th class="two wide">{{ columns.created }}</th>          
            <th class="collapsing one wide">{{ columns.status }}</th>
            <th>{{ columns.plan }}</th>   
            <th class="tow wide">{{ columns.user }}</th>               
            <th class="one wide">{{ columns.billing }}</th>       
            <th class="two wide">{{ columns.driver }}</th>                                      
        </tr>
    </thead>
    <tbody id="subscriptions_rows" component="subscriptions::admin.subscriptions.view.rows" namespace="subscriptions">
        {{ component('subscriptions::admin.subscriptions.view.rows') }} 
    </tbody>
</table> 
<div id="paginator">      
    {{ component("components:paginator",{ namespace: 'subscriptions' }) }}
</div>