{% set model = createModel('Subscriptions','subscriptions').orderBy('id','desc') %}
{% if user_id is not null %}
{% set model = model.subscriptionsQuery(user_id) %}
{% endif %}
{% set items = paginate(model,'subscriptions') %}
{% set items = items.getItems() %}
{% if items|length == 0 %}
    <tr>
        <td colspan="7">{{ labels.empty }}</td>
    </tr>
{% endif %}
{% for item in items %}  
    <tr id="{{ item.uuid }}">              
        <td class="one wide">                                  
            <button class="ui icon mini basic button subscription-details" uuid="{{ item.uuid }}" title="{{ labels.details }}">
                <i class="icon info"></i>
            </button>                        
        </td>
        <td>
            {{ item.date_created|dateFormat }}
        </td>  
        <td>
            {% if item.date_expired is empty %}
                <div class="ui mini basic label">{{ labels.recurring }}</div>
            {% else %}
                {{ item.date_expired|dateFormat }}
            {% endif %}
        </td>  
        <td>
            {{ component('semantic~status.dropdown',{ status: item.status, uuid: item.uuid, skip: [0,2,3,4,5] }) }}       
        </td>
        <td>
           {{ item.plan.title }}       
        </td>    
        <td>
            {{ item.user.user_name_or_email }}
        </td>   
        <td>
            {{ item.billing_type }}
        </td>                                   
        <td>
            {{ item.checkout_driver }}
        </td>                       
    </tr>
{% endfor %}