{% component 'components:view.rows' %}

{% set model = createModel('Subscriptions','checkout').orderBy('id','desc') %}

{{ createSearch('transaction_id','subscriptions','like:%{value}%','and') }}
{% set model = applySearch(model,'subscriptions') %}
{% set items = paginate(model,'subscriptions') %}

{% for item in items.getItems() %}  
    <tr id="{{ item.uuid }}">              
        <td>                                  
            <button class="ui icon mini basic button subscription-details" uuid="{{ item.uuid }}">
                <i class="icon info"></i>
            </button>                        
        </td>
        <td>
            {{ item.date_time }}
        </td>  
        <td>
            {{ component('checkout::admin.subscriptions.label',{ status: item.status }) }}         
        </td>
        <td>
           {{ item.transaction_id }}       
        </td>
        <td>
            {{ item.currency }}
        </td>         
        <td>
            {{ item.amount|numberFormat }}
        </td>                              
        <td>
            {{ item.payer }}
        </td>    
        <td>
            {{ item.checkout_driver }}
        </td>                       
    </tr>
{% endfor %}
{% endcomponent %}