<div class="ui segment">
    <table class="ui compact stackable selectable borderless basic table">
        <thead class="table-head">
            <tr>              
                <th class="one wide collapsing left aligned">{{ columns.action }}</th> 
                <th class="two wide column">{{ columns.status }}</th>                
                <th class="three wide column">{{ columns.title }}</th>  
                <th class="two wide column">{{ columns.slug }}</th>     
                <th class="two wide column">{{ columns.monthly }}</th>    
                <th class="two wide column">{{ columns.annual }}</th>                        
                <th>{{ columns.description }}</th>                                                                                 
            </tr>
        </thead>
        <tbody>
            {{ component('subscriptions::admin.plans.view.rows') }} 
        </tbody>
    </table> 
</div>