{{  component('semantic~tabs.vertical',{ 
        items: [ 
            { title: labels.view, component: 'subscriptions::admin.subscriptions.view', icon: 'list', active: true },
            { id: 'add_subscription_tab', title: labels.add, component: 'subscriptions::admin.subscriptions.add', icon: 'plus' }
        ], 
        menu: { id: 'subscriptions_menu' }, 
        item_class: 'subscription-tab-item',
        content: { 
            id: 'subscriptions_content',
            component: 'subscriptions::admin.subscriptions.view'
        } 
    })
}}