{% set items = [ 
    { title: labels.view, component: 'subscriptions::admin.subscriptions.view', icon: 'list', active: true },
    { id: 'details_tab', title: labels.details, component: 'subscriptions::admin.subscriptions.details', icon: 'info' }
] %}

{{  component('semantic~tabs.vertical',{ 
        items: items, 
        menu: { id: 'subscriptions_menu' }, 
        item_class: 'subscription-tab-item',
        content: { 
            id: 'subscriptions_content',
            component: 'subscriptions::admin.subscriptions.view'
        } 
    })
}}